# Виртуальное окружение
venv/
env/
.venv/
.env/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Дистрибутивы
dist/
build/
*.egg-info/

# Локальные настройки
.env
.env.local

# Логи
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo 